<!DOCTYPE html>
<html>
<head>

<title>Sistema de Livros</title>

<style>

body{
font-family: Arial;
margin:40px;
background:#f5f5f5;
}

nav{
margin-bottom:20px;
}

nav a{
margin-right:15px;
text-decoration:none;
color:blue;
font-weight:bold;
}

</style>

</head>

<body>

<h1>Sistema de Cadastro de Livros</h1>

<nav>

<a href="/">Home</a>
<a href="/cadastrar/">Cadastrar Livro</a>
<a href="/consultar/">Consultar</a>
<a href="/livros/">Listar Livros</a>
<a href="/sobre/">Sobre</a>
<a href="/contato/">Contato</a>

</nav>

<hr>

{% block content %}
{% endblock %}

</body>
</html>