<!DOCTYPE html>
<html>
<head>
<title>Detalhes do Livro</title>
</head>

<body>

<h2>{{livro.titulo}}</h2>

<p><b>Autor:</b> {{livro.autor}}</p>

<p><b>Editora:</b> {{livro.editora}}</p>

<p><b>Ano:</b> {{livro.ano}}</p>

<p><b>Páginas:</b> {{livro.paginas}}</p>

<p><b>Categoria:</b> {{livro.categoria}}</p>

<p><b>ISBN:</b> {{livro.isbn}}</p>

<p><b>Idioma:</b> {{livro.idioma}}</p>

<p><b>Descrição:</b> {{livro.descricao}}</p>

<p><b>Cadastrado por:</b> {{livro.cadastrado_por}}</p>

<br>

<a href="/livros/">Voltar</a>

</body>
</html>